:root
{
    --maincolor: black ;
    --secondarycolor: #37B7ED;
    --shadowcolor: black;
    --secondaryshadowcolor: #37B7ED;

    --textcolor: white;
    --secondarytextcolor: black;
    --captionbackground: white;
    --captiontextcolor: black;

}

*
{
    scroll-behavior: smooth;
    font-family: Raleway ,'Mulish' ,'Open Sans' ,'Verdana' ,'Arial';
    margin: 0px;
    padding: 0px;
    
}

main
{
    background-color: var(--maincolor);
}

.page-section
{
    color: var(--textcolor);
}
/*nav bar menu*/
nav
{
    background-color:var(--maincolor);
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid var(--secondarycolor);

}

/*items in the menu*/
ul
{
    list-style-type: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin:0px;
    padding: 0px;
    overflow: hidden;
}

li
{
    justify-content: space-around;
}

/*styling my profile pic, defining size and shape*/
li a
{   
    
    list-style-type: none;
    display: flex;

    margin: 20px;
    text-decoration: none;
    color:var(--secondarycolor)
    
}

/*hover in the nav menu items*/
li a:hover
{
    background-color: var(--secondarycolor);
    color: var(--maincolor);
}

li a:active
{
    background-color: var(--secondarycolor);
    color:var(--textcolor);
    font-weight: bolder;

}

.logo
{
    background-color: var(--secondarycolor);
    color: var(--maincolor);
    padding-right: 25px;
    padding-left: 10px;
    text-align: center;
}

#myNameinNav
{   
    margin-left: 10px;
    margin-top: 10%;
    text-align: center;
    font-family: Unbounded, 'Raleway', 'Mulish' ,'Open Sans', 'Arial' ;
    font-weight: bold;  


}





/*defining grid areas and size*/

.intro
{
    padding-top: 100px;
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: 20% 80%;
    grid-template-areas: 'introAside introArticle';
    background-color: var(--maincolor);
    
    
}

#introAside
{
    grid-area: introAside ;
    

    margin-left: %;
   
}

#introArticle
{
    margin-left: 15%;
    grid-area: introArticle;
    color:var(--secondarycolor);
    width: 80%;
    
}

#introArticle > p
{
    font-weight: bolder;
    
}

/*styling my profile pic, defining size and shape*/
.mypic
{   
    overflow: hidden;
    border: var(--secondarycolor);
    border-radius: 20%;
    height: 200px;
    box-shadow: -4px 6px 10px var(--secondarycolor);
  
}

#profilePic
{   
    text-align: center;
    
}

.myName
{
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    color: var(--maincolor);
}

/*About Me Grid*/
#aboutMeGrid
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: 'aboutMeAside aboutMeArticle';
    margin-top: 5%;
    
}

/*Defining About me 1st column Grid Area*/
#aboutMeAside
{
    grid-area: aboutMeAside;
    margin-left: 20%;
    
}

/*Defining About me 2nd column Grid Area*/
#aboutMeArticle
{
    grid-area: aboutMeArticle;
    justify-content: center;
    align-items: center;
    margin-left: 5% ;
    margin-top: 5px;

}

/*border for aboutme work project resume contactme*/
.asideBorder
{
    border-right: 4px solid var(--secondarycolor);
    margin-left: 2%;
}

/* Projects/Work grid of 2 columns*/
#workGrid
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: 'workAside workSection' ;
    margin-top: 5%;
}


#workAside
{
    grid-area: workAside;
    margin-left: 20%;
}

.workSection
{
    grid-area: workSection;
}


/* Defining the project grid layout*/
#projectsGrid
{
    
   
    display: grid;
    margin-left: 5%;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: repeat(2,1fr);
   
    grid-template-areas: 
    'project1 project1'           /*1st row*/
    'project2 project3'          /*2nd row*/
    'project4 project5';         /*3rd row*/
}

.projects
{
    margin: 5px;
    cursor: pointer;
    transition: box-shadow 1s;
}
.projects:hover
{
     box-shadow: -6px -6px 3px var(--secondarycolor);
    
}
#project1
{
    grid-area: project1;
    background-image: url("../images/02-portfolio-1.jpg") ;
    width: inherit;
    height: auto;
    
}


#project2
{
    grid-area: project2;
    background-image: url("../images/02-hero-bg.jpg");
    width:inherit;
    height: auto;
}

#project3
{
    grid-area: project3;
    background-image: url("../images/02-portfolio-3.jpg");
    width: inherit;
    height: auto;
}

#project4
{
    grid-area: project4;
    background-image: url("../images/02-portfolio-4.jpg");
    width: inherit;
    height: auto;

}

#project5
{
    grid-area: project5;
    background-image: url("../images/02-portfolio-2.jpg");
    width: inherit;
    height: auto;
}

/*Project Caption*/
#projectcaption
{
    align-items: left;
    padding: 10px;
    margin-top: 10%;
    background-color: var(--maincolor);
    color: var(--secondarycolor);
    width:fit-content;
    text-align: left;
}

/*Contact Me Grid */
#contactMeGrid
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: 'asideContactMe articleContactMe';
    margin-top: 5%;
}

#asideContactMe
{
    grid-area: asideContactMe;
    margin-left: 20%;
    
}

.articleContactMe
{

    grid-area: articleContactMe;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    text-align: center; 
    

}

.contactIcons
{
    color: var(--secondarycolor);
   
}

.contactCaption
{
    align-items: center;
    justify-content: center;
    color: var(--textcolor);
    margin-top: 5%;
}

.articleContactMe a
{
    text-decoration: none;

}


#contactRow
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
*/

/*Resume Grid*/
#resume
{

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: 'asideResume articleResume';
    margin-top: 5%;
    
}

#asideResume
{
    grid-area: asideResume;

}

#articleResume
{
    grid-area: articleResume;
    margin-top: 10%;
    
}

/*
footer
{   
    display: flex;
    background-color: var(--maincolor);
    justify-content: center;
    text-align: center;
    height:max-content;
} */